<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<style>
    
#poll{
    margin-left: 20px;
}
    
#scBtn{
margin-left:float;
  line-height: 20px;
  font-weight: bold;
  padding: 0 10px;
  background: salmon;
  border: none;
  text-align: center;
  width: 185px;

}
    
#powBtn{
 margin-left:float; 
 margin-top:5px;
  line-height: 20px;
  font-weight: bold;
  padding: 0 10px;
  background: salmon;
  border: none; 
  text-align: center;
  width: 185px;
    </style>
<body onload="loaded()">

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="create">Post</a></li>
        <li><a href="/view">Polls</a></li>
        <li><a href="/edit">Edit</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> 
            <a href="/signlog"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Logout</a></li>
      </ul>
    </div>
  </div>
</nav> 
      
<div class="header">
    <div class="container text-center">
<div id="siteName" style="display: inline">Post-n-Poll</div>
<div style="display: inline">&copy;</div>
</div>
    
  </div>
<div id = "poll">
    <form id = "form1" action="/create" method="post">
   Question:<br>
  <input id="input1" type="text" name="question" value="" size="30" />
  <input id="checkbox" type="checkbox" name="showcase" value="showcase"/>Showcase on Home Page
        <div id="scBtn"><a class="button" onclick="apply()">Update Showcase Option</a></div><br>
        <input style="margin-left: 247px; margin-top:5px;" id="checkbox2" type="checkbox" name="pubvis" value="pubvis"/>For public viewing<div id="powBtn"><a class="button" onclick="apply2()">Update viewing option</a></div>
        <br><br><br>
   Options:<br>
   <select id="myOptions" name="options[]" multiple="multiple">
        </select><br>
     </form>  
    <form id = "form2" action="" method="post">
     <input id="showcase" type="hidden" name="sc" value="" size="30" />
     <input id="pubvis" type="hidden" name="pub" value="" size="30" />
    <input id="qlist" type="hidden" name="qlist" value="" size="30" /> 
    </form>  
 <div id="input2" style="display:none"><input id="newoption" type="text" name="option" value="" size="10"></div>       
 <div style="margin-top:5px;"><button id="done" style="display:none" onclick="doDone()">Done</button> 
    <button id="cancel" style="display:none" onclick="doCancel()">Cancel</button></div>  
    <button id= "add" onclick="doAdd()">Add</button> 
    <button id= "edit" onclick="doEdit()">Edit</button> 
    <button id= "delete" onclick="doDelete()">Delete</button> <br><br>
    <button id= "newpost" style="margin-bottom: 5px; margin-left:0px; display:inline" onclick="checkOK()">Post New</button>  
    <button id="repost" style="margin-left:50px; display:inline" onclick="confirmIt()">Re-Post</button>
</div>
<footer class="container-fluid text-center">
          <div id="siteName" style="display: inline; font-size: 10px">'Post-n-Poll' by Franklin Griffin 2017</div>
<div style="display: inline">&copy;</div>
</footer>
<script>
    var newValue = document.getElementById('newoption'); 
    var origValue;
    var qlist=<%- JSON.stringify(qlist) %>;
    
   function loaded() {
   document.getElementById("input1").value =<%- JSON.stringify(question) %>; 
    var ol = <%- JSON.stringify(options) %>;
    for (var q = 0; q < ol.length; q++)
    { var option = document.createElement("option");
      option.value = ol[q].option;;
      option.innerHTML = ol[q].option;
      document.getElementById("myOptions").appendChild(option);
      console.log('index'+ q +'option' + ol[q].option);
    }
   document.getElementById("myOptions").options[0].selected = true;  
   var sc = <%= sc %>;
               if (sc == true){ document.getElementById('checkbox').checked = true;
   var pub = <%= pub %>;
               if (pub == true){ document.getElementById('checkbox2').checked = true;}}}
    
    function doDelete() {
      if (document.getElementById("myOptions").length >1)
      {
      var x = document.getElementById("myOptions");
      x.remove(x.selectedIndex);} 
    }
    
    function doAdd() {
      var x = document.getElementById("myOptions");
      var option = document.createElement("option");
      option.text = "Next Option";
      x.add(option);
        
      var lg = document.getElementById("myOptions").length;
        document.getElementById("myOptions").options[lg-1].selected = true;
    }
    
    function doEdit() {
        var x = document.getElementById("myOptions");
        origValue = x.options[x.selectedIndex].text;
     document.getElementById('newoption').value = x.options[x.selectedIndex].text;
      document.getElementById('input2').style.display = 'block';
      document.getElementById('edit').style.display = 'none';
      document.getElementById('add').style.display = 'none';
      document.getElementById('delete').style.display = 'none';
      document.getElementById('done').style.display = 'inline';
      document.getElementById('cancel').style.display = 'inline';
      document.getElementById('repost').style.display = 'none';
      document.getElementById('newpost').style.display = 'none';
        
      var input2 = document.getElementById('newoption');
        input2.focus();
       input2.select();
    } 
    
    function doDone() {    
    document.getElementById('input2').style.display = 'none';
    document.getElementById('edit').style.display = 'inline';
    document.getElementById('add').style.display = 'inline';
    document.getElementById('delete').style.display = 'inline';
    document.getElementById('done').style.display = 'none';
    document.getElementById('cancel').style.display = 'none'; 
    document.getElementById('repost').style.display = 'inline';
    document.getElementById('newpost').style.display = 'inline';
    }
    
    function doCancel() {
    document.getElementById('input2').style.display = 'none';
    document.getElementById('edit').style.display = 'inline';
    document.getElementById('add').style.display = 'inline';
    document.getElementById('delete').style.display = 'inline';
    document.getElementById('done').style.display = 'none';
    document.getElementById('cancel').style.display = 'none';
    document.getElementById('repost').style.display = 'inline';
    document.getElementById('newpost').style.display = 'inline';
        
    var x = document.getElementById("myOptions");
    x.options[x.selectedIndex].text = origValue;
    x.options[x.selectedIndex].value = origValue
    } 
    
    function checkOK()
    {//quesiton being submitted must be unique and not match any previous poll quesitons.
       var question = document.getElementById("input1").value;
       var OK = true;
       for (i=0; i< qlist.length; i++)
       {if (question == qlist[i]) 
        {OK = false;
        break;}}
   
    //if passes test, select All and submit
    if (OK)
    {selectAll();
    document.getElementById("form1").submit();
    }
    else alert("Questions posted must be unique.");   
    }
    
    function selectAll() 
    {var selectBox = document.getElementById("myOptions");
      for (var i = 0; i < selectBox.options.length; i++) 
        { selectBox.options[i].selected = true; } 
    }

    newValue.onkeyup = function(){
    var x = document.getElementById("myOptions");
    x.options[x.selectedIndex].text = newValue.value;
    x.options[x.selectedIndex].value = newValue.value;  
    }
    
    function confirmIt() {
    var r = confirm("Are you sure? Note that when you repost, the voting results will be set to zero for all options.");
    if (r == true) {
        
            var x = document.getElementById("myOptions");
        // console.log(x.options[0].text);
        // console.log(x.options[0].value); 
        // console.log(x.options[1].text);
        // console.log(x.options[1].value); 
        // console.log(x.options[2].text);
        // console.log(x.options[2].value); 
        
       selectAll(); document.getElementById("form1").submit();
    } else {};
}
    
    function apply(){
        var scOption;
        var question = <%- JSON.stringify(question) %>;
        var username = <%- JSON.stringify(username) %>;
        if (document.getElementById('checkbox').checked == true) scOption = true; else scOption = false;
        
        document.getElementById('showcase').value = scOption;
        document.getElementById('pubvis').value = '';
        document.getElementById('qlist').value = qlist;
        document.getElementById('form2').action = '/' + username + '/' + question; 
        //document.getElementById('form2').submit();
        console.log('action' + document.getElementById('form2').action);
    }
    
     function apply2(){
        var pubOption;
        var question = <%- JSON.stringify(question) %>;
        var username = <%- JSON.stringify(username) %>;
        if (document.getElementById('checkbox2').checked == true) pubOption = true; else pubOption = false;
        
        document.getElementById('pubvis').value = pubOption;
        document.getElementById('showcase').value = '';
        document.getElementById('qlist').value = qlist;
        document.getElementById('form2').action = '/' + username + '/' + question; 
        document.getElementById('form2').submit();
    }
</script>
</body>
</html>