<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body onload="loaded()">

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/create">Post</a></li>
        <li class="dropbtn"><div class="dropdown"><a>Polls</a>
         <div class="dropdown-content">
    <a id="poll1" onclick = "pollType(1)">Locally Created</a>
    <a id="poll2" onclick = "pollType(2)">Publicly Shared</a>
            </div></div></li>
        <li><a href="#">Edit</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> 
            <a href="/signlog"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Log out</a></li>
      </ul>
    </div>
  </div>
</nav>   
<header>
    <% include partials/header %>
</header>
<div style="margin:20px;">
    <div>Please select and submit the poll you would like to edit.<br><div><span id="note">The Home Page will accomodate the viewing of up to 3 polls (first three if more than three have been marked for showcasing).</span></div><br>
        <div>Features Applied:</div>
        <div>* Marked for showcasing on Home Page.</div>
        <div>^ Made available for viewing by others logged into this site.</div>
     <form action="/create2" method="post">
   <select id="myPoll" name="question" multiple="multiple" onchange="changemade()">
        </select>
   <input id="sc" name="sc" value="" type="hidden"> 
    <input id="pub" name="pub" value="" type="hidden"> 
         
   <input id="qlist" name="qlist" value="" type="hidden"> 
   <input id="editbtn" style="margin-left:130px; margin-bottom: 5px;" type="submit" value="Submit">
     </form>   
</div>
<footer class="container-fluid text-center">  
    <% include partials/footer %>
  </footer> 
</body>
    <script>
    function loaded(){
       document.getElementById("editbtn").disabled=true; 
       var ql = <%- JSON.stringify(questionlist) %>;
       var ql2 = [];
       var pre = '';
       for (i=0; i<ql.length; i++)      
       {ql2.push(ql[i]);}
       var ql3= JSON.stringify(ql2);      
       document.getElementById('qlist').value = ql3;
       var scl = <%- JSON.stringify(sclist) %>;
       var publ = <%- JSON.stringify(publist) %>;
      for (var q = 0; q < ql.length; q++)
    { var option = document.createElement("option");
      option.value= q+1;
     if (publ[q]== true) pre = '^'; else pre = '&nbsp;';
     if (scl[q]== true) pre = pre + '*'; else pre = pre + '&nbsp;';
     option.innerHTML = pre + '&nbsp;' + ql[q];
    document.getElementById("myPoll").appendChild(option);
    }}   
        
    function changemade(){   
        document.getElementById('editbtn').disabled=false;
        var publ = <%- JSON.stringify(publist) %>;
        var scl = <%- JSON.stringify(sclist) %>;
        var s = document.getElementById("myPoll");
        var o = s.options[s.selectedIndex].value;
        document.getElementById("sc").value= scl[o-1];
        document.getElementById("pub").value= publ[o-1];
        console.log('sc'+ document.getElementById("sc").value);
        console.log('pub'+ document.getElementById("pub").value);
    }
        
    	
	function pollType(num){
     //locally created
     if (num == 1) {
         window.location = "/view?type=local";  
     }
     //publicly shared  
     //logged in (or wouldn't be here).
     else {window.location = "/view?type=public";}  
 }   
    </script>
</html>
