<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<style>
 .qstion {
    max-height: 44px;
    overflow: auto;
    font-size: 20px;
    margin-top:-5px;
}
    
.oplist {
    max-height: 85px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;

}
 
#myChart{
    margin-top:-15px;
    
}
    
#myChart2{
    margin-top:-15px;
    
}

#myChart3{
    margin-top:-15px;
    
}
</style>
<body onload=loaded();>
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a onclick = "checkPost()">Post</a></li>
        <li class="dropbtn"><div class="dropdown"><a>Polls</a>
         <div class="dropdown-content">
    <a id="poll1" onclick = "pollType(1)">Locally Created</a>
    <a id="poll2" onclick = "pollType(2)">Publicly Shared</a>
            </div></div></li> 
        <li class="dropbtn"><div class="dropdown"><a>Options</a>
          <div class="dropdown-content">
    <a id="hide1" onclick = "hide(1)">Hide Poll 2</a>
    <a id="hide2" onclick = "hide(2)">Hide Poll 3</a>
            </div></div></li>
         <li><a onclick = "checkEdit()">Edit</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> 
            <a href="/signlog"><span class="glyphicon glyphicon-log-in"></span><%= logstatus %></a></li>
      </ul>
    </div>
  </div>
</nav>      
 <header>
    <% include partials/header %>
</header>   
<div class="row" style="margin:20px;">
  <div id="col1" class="column" style="background-color:#aaa;"><h3 class='qstion'><%= polls[0].question %></h3>
      <h4 style="background-color:#aaa;">Current Voting Tally: </h4> 
     <div style="background-color:#aaa;" class="row2 oplist">
         <ol id="myList1"></ol>
     </div> 
<canvas id="myChart" width="400" height="380"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var polls = <%- JSON.stringify(polls) %>;
var maxY = 0;
var labelsArray = [];
var dataArray = [];   
for (var i = 1; i< polls[0].options.length; i++)
{//labelsArray.push(polls[0].options[i].option);
    labelsArray.push("option " + [i]);
 dataArray.push(polls[0].options[i].votes);
 if (polls[0].options[i].votes>maxY) maxY = polls[0].options[i].votes;
}
    
var sSize;
if (maxY <= 10) sSize = 1;
else sSize = Math.ceil(maxY/10);
    
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labelsArray,
        datasets: [{
            label: '# of Votes',
            data: dataArray,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    stepSize: sSize
                }}]}}});
</script>  
    </div> 
  <div id="col2" class="column" style="background-color:#bbb;">
      <div style="display: inline"><h3 class='qstion'><%= polls[1].question %></h3>
          <span id="secondPost"></span></div>
     <h4 style="background-color:#bbb;">Current Voting Tally: </h4> 
     <div style="background-color:#bbb;"  class="row2 oplist">
         <ol id="myList2">
         </ol>
     </div>    
<canvas id="myChart2" width="400" height="380"></canvas>
<script>
var ctx = document.getElementById("myChart2").getContext('2d');
var polls = <%- JSON.stringify(polls) %>;
var maxY = 0;
var labelsArray = [];
var dataArray = [];   
for (var i = 1; i< polls[1].options.length; i++)
{//labelsArray.push(polls[1].options[i].option);
 labelsArray.push("option " + [i]);
 dataArray.push(polls[1].options[i].votes);
 if (polls[1].options[i].votes>maxY) maxY = polls[1].options[i].votes;}
    
var sSize;
if (maxY <= 10) sSize = 1;
else sSize = Math.ceil(maxY/10);
    
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labelsArray,
        datasets: [{
            label: '# of Votes',
            data: dataArray,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    stepSize: sSize
                }}]}}});
</script>
    </div>
  <div id ="col3" class="column" style="background-color:#ccc;"> 
    <div style="display: inline"><h3 class="qstion"><%= polls[2].question %></h3>
      <span id="thirdPost"></span></div>
     <h4 style="background-color:#ccc;">Current Voting Tally: </h4> 
     <div style="background-color:#ccc;"  class="row2 oplist">
         <ol id="myList3">
         </ol>
     </div>
<canvas id="myChart3" width="400" height="380"></canvas>
<script>
var ctx = document.getElementById("myChart3").getContext('2d');
var polls = <%- JSON.stringify(polls) %>;
var maxY = 0;
var labelsArray = [];
var dataArray = [];   
for (var i = 1; i< polls[2].options.length; i++)
{//labelsArray.push(polls[2].options[i].option);
 labelsArray.push("option " + [i]);
 dataArray.push(polls[2].options[i].votes);
 if (polls[2].options[i].votes>maxY) maxY = polls[2].options[i].votes;}

var sSize;
if (maxY <= 10) sSize = 1;
else sSize = Math.ceil(maxY/10);
    
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labelsArray,
        datasets: [{
            label: '# of Votes',
            data: dataArray,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    stepSize: sSize
                }}]}}});
</script>
    </div>
</div>
  <footer class="container-fluid text-center">  
    <% include partials/footer %>
  </footer> 
    <form id = "form1" action="/updateOptions" method="post">     
    <input id= "option1" type="hidden" name="option1" value="" />
    <input id= "option2" type="hidden" name="option2" value="" />
    </form>
</body>
     <script>
    var totalPolls =  <%- JSON.stringify(totalPolls) %>; 
    var status = <%- JSON.stringify(logstatus) %>;
    var colors = ['rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'];
    
    function loaded() {
     var polls = <%- JSON.stringify(polls) %>;
     var aM = <%- JSON.stringify(alertMessage) %>;
     if (aM != undefined && aM != '') alert(aM);
     var q2 = polls[1].question;
     var q3 = polls[2].question;
     if (q2 == 'poll 2') 
     {
     var hideBtn = document.createElement("button");
      hideBtn.innerHTML = "Hide";    
      hideBtn.addEventListener ("click", function() {hide(1);});   
      var node = document.getElementById("secondPost");
      node.appendChild(hideBtn);} 
    if (q3 == 'poll 3') 
     {
      var hideBtn = document.createElement("button");
      hideBtn.innerHTML = "Hide";
      hideBtn.addEventListener ("click", function() {hide(2);});  
      var node = document.getElementById("thirdPost");
      node.appendChild(hideBtn); 
     }

    //First question:
        var node1;
        var node2;
        var nText;
        var n;
        var t;
      for (var i = 1; i < polls[0].options.length; i++)
        {node1 = document.createElement("li"); 
         node1.setAttribute("style", "display: inline");
         n = document.createElement("input");
         n.setAttribute("style", "height: 23px; width: 210px; readonly='readonly'; border: 0; background-color:" + colors[i-1]);
         nText = polls[0].options[i].option + ' - '  + polls[0].options[i].votes;
         n.setAttribute("value", nText);
         node1.appendChild(n);  
         document.getElementById("myList1").appendChild(node1);   
       } 
      
      //Second question: 
      for (var i = 1; i < polls[1].options.length; i++)
        {node1 = document.createElement("li"); 
         node1.setAttribute("style", "display: inline");
         n = document.createElement("input");
         n.setAttribute("style", "height: 23px; width: 210px; readonly='readonly'; border: 0; background-color:" + colors[i-1]);
         nText = polls[1].options[i].option + ' - '  + polls[1].options[i].votes; 
         n.setAttribute("value", nText);  
         node1.appendChild(n);  
         document.getElementById("myList2").appendChild(node1); 
       }
        
      //Third question:
        for (var i = 1; i < polls[2].options.length; i++)
        {node1 = document.createElement("li"); 
         node1.setAttribute("style", "display: inline");
         n = document.createElement("input");
         n.setAttribute("style", "height: 23px; width: 210px; readonly='readonly'; border: 0; background-color:" + colors[i-1]);
         nText = polls[2].options[i].option + ' - '  + polls[2].options[i].votes;
         n.setAttribute("value", nText);
         node1.appendChild(n);    
         document.getElementById("myList3").appendChild(node1);  
       }      
   var op2 = <%- JSON.stringify(option2) %>; 
   var op1 = <%- JSON.stringify(option1) %>;
   if (op1 == 'none') (hide2(1));
   if (op2 == 'none') (hide2(2));  
    }
         
 function pollType(num){
     //locally created.
     if (num == 1) {
         checkPolls()   
     }
     //publicly shared.
     //not logged in.
     else if (status == " Login/Signup"){window.location = "/view2";} 
     //logged in.
     else {window.location = "/view?type=public";}  
 }
                  
 function checkEdit(){
             if (totalPolls == 0) alert("There are no polls to edit.");
              else  window.location = "/edit";
         }
                
 function checkPolls(){ 
           if (totalPolls == 0) 
             {if (status == " Login/Signup")  
               alert("Please log in to create and view your polls.");
                else alert("No local polls have been created.");
             }
              else  window.location = "/view?type=local";
         }      
         
function checkPost(){
    if (status == " Login/Signup"){alert("You cannot post a poll without first logging in.");}
    else
     window.location = "/create"
}
         
function hide(num){
   if (status == ' Log out')
   {
  var el = document.querySelector("#col1");
  var el2 = document.querySelector("#col2");
  var el3 = document.querySelector("#col3");
    if (el2.style.display == '') el2.style.display = 'block';
    if (el3.style.display == '') el3.style.display = 'block'; 
    if(num ==1)
     { if (el2.style.display == 'none')
     {el2.style.display = 'block';
     document.getElementById("hide1").textContent="Hide Poll2";
     if (el3.style.display == 'none')
    {el.style.left="-150px";el2.style.left="-150px"; }
     }
    else {el2.style.display = 'none';
    document.getElementById("hide1").textContent="Show Poll2";}    
    if (el3.style.display == 'none')
    {el.style.marginLeft = "330px";} else {el.style.marginLeft = "150px";}
    }
    else
     {if (el3.style.display == 'none') {el3.style.display = 'block';
    document.getElementById("hide2").textContent="Hide Poll3";
    if (el2.style.display == 'none')
    {el.style.left="-150px";el3.style.left="-150px";}} 
    else {el3.style.display = 'none';
    document.getElementById("hide2").textContent="Show Poll3";}
    if (el2.style.display == 'none')
    {el.style.marginLeft = "330px";} else {el.style.marginLeft = "150px";}}  
    document.getElementById('option1').value = el2.style.display;
    document.getElementById('option2').value = el3.style.display;
    document.getElementById('form1').submit();
   } else
   {alert("Please login to utilize this feature.");}}
         
function hide2(num){
   if (status == ' Log out')
   {var el = document.querySelector("#col1");
    var el2 = document.querySelector("#col2");
    var el3 = document.querySelector("#col3");
    if (el2.style.display == '') el2.style.display = 'block';
    if (el3.style.display == '') el3.style.display = 'block';
    if(num ==1)
     {if (el2.style.display == 'none')
     {el2.style.display = 'block';
    document.getElementById("hide1").textContent="Hide Poll2";
     if (el3.style.display == 'none')
    {el.style.left="-150px";el2.style.left="-150px"; } 
     }
    else {el2.style.display = 'none';
    document.getElementById("hide1").textContent="Show Poll2";}
    if (el3.style.display == 'none')
    {el.style.marginLeft = "330px";} else {el.style.marginLeft = "150px";}
     }
     else
     {if (el3.style.display == 'none') {el3.style.display = 'block';
    document.getElementById("hide2").textContent="Hide Poll3";
    if (el2.style.display == 'none')
    {el.style.left="-150px";el3.style.left="-150px";}} 
    else {el3.style.display = 'none';
    document.getElementById("hide2").textContent="Show Poll3";}
    if (el2.style.display == 'none')
    {el.style.marginLeft = "330px";} else {el.style.marginLeft = "150px";}          
    }} else
   {alert("Please login to create and view polls.");}}
</script>
</html>
