<!DOCTYPE html>
<html lang="en">
<head>  
    <% include partials/head %>
<style>
    #siteName{
}
      
#copyright{
    position: relative;
    left: -60px;
}      
  
#footer{
   position: relative;
   left: -20px;    
}

.column {
    margin-left: 330px;
}

 .qstion {
    max-height: 44px;
    overflow: auto;
    font-size: 20px;
}
    
.oplist {
    max-height: 85px;
    overflow: auto;
    font-size: 16px;

}
 
#myChart{
    margin-top:-15px;
    
}
  </style>
</head>
<body onload=loaded();>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a onclick = "checkPost()">Post</a></li>
      <li class="dropbtn"><div class="dropdown"><a>Polls</a>
         <div class="dropdown-content">
    <a id="poll1" onclick = "pollType(1)">Locally Created</a>
    <a id="poll2" onclick = "pollType(2)">Publicly Shared</a>
            </div></div></li>
        <li><a onclick = "checkEdit()">Edit</a></li>
      </ul>
         <ul class="nav navbar-nav navbar-right">
        <li> 
            <a href="/signlog"><span class="glyphicon glyphicon-log-in"></span><%= logstatus %></a></li>
      </ul>
           
    </div>
  </div>
</nav>    
 <header>
    <% include partials/header %>
</header>    

<div class="row" style="margin:20px;">
  <div id="col1" class="column" style="background-color:#aaa;"><h3 class='qstion'><%= polls[0].question %></h3>
    <h4 style="background-color:#aaa;">Current Voting Tally: </h4> 
     <div style="background-color:#aaa;" class="row2 oplist">
         <ol id="myList1"></ol>
     </div>  
     <canvas id="myChart" width="400" height="380"></canvas> 
     <script>
var ctx = document.getElementById("myChart").getContext('2d');
var polls = <%- JSON.stringify(polls) %>;
var maxY = 0;
var labelsArray = [];
var dataArray = [];   
for (var i = 1; i< polls[0].options.length; i++)
{//labelsArray.push(polls[0].options[i].option);
   labelsArray.push("option " + [i]);
 dataArray.push(polls[0].options[i].votes);
if (polls[0].options[i].votes>maxY) maxY = polls[0].options[i].votes;
} 
var sSize;
if (maxY <= 10) sSize = 1;
else sSize = Math.ceil(maxY/10);
         
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labelsArray,
        datasets: [{
            label: '# of Votes',
            data: dataArray,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    stepSize: sSize
                }
            }]
        }
    }
});
</script>
    </div>   
     </div>   
<footer class="container-fluid text-center">  
    <% include partials/footer %>
  </footer>    
</body>
<script>
var status = <%- JSON.stringify(logstatus) %>;
var totalPolls = <%- JSON.stringify(totalPolls) %>;

function loaded() {
        alert(<%- JSON.stringify(alertMessage) %>);
        var polls = <%- JSON.stringify(polls) %>;
              
 var colors = ['rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'];
              
//First question:
       // if (polls[0].options.length <= 4)
        var node1;
        var node2;
        var nText;
        var h;
        var t;
      for (var i = 1; i < polls[0].options.length; i++)
        {node1 = document.createElement("li"); 
         h = document.createElement("input");
         h.setAttribute("style", "height: 14px; size="30"; readonly='readonly'; border: 0; background-color:" + colors[i-1]);
         nText = polls[0].options[i].option + ' - '  + polls[0].options[i].votes; 
         //t = document.createTextNode(liText);  
        //h.appendChild(t);
         h.setAttribute("value", nText);
         node1.appendChild(h);  
         document.getElementById("myList1").appendChild(node1);   
       }                      
} 
    
function checkEdit(){
             if (totalPolls == 0) alert("There are no polls to edit.");
              else  window.location = "/edit";
         } 
                     
function checkPost(){
    if (status == " Login/Signup"){alert("You cannot post a poll without first logging in.");}
    else
     window.location = "/create"
}
         
function pollType(num){
     //locally created
     if (num == 1) {
         checkPolls()   
     }
     //publicly shared
     //not logged in
     else if (status == " Login/Signup"){window.location = "/view2";} 
     //logged in
     else {window.location = "/view?type=public";}  
 }
 
 function checkPolls(){
             if (totalPolls == 0) alert("Please log in to create and view your polls");
              else  window.location = "/view?type=local";
         }
        
</script>
</html>
