<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<style>
    button {
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  font-weight: bold;
  padding: 0 10px;
  background: salmon;
  border: none;
}
      
.button {
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  font-weight: bold;
  padding: 0 10px;
  background: salmon;
  border: none;
}
</style>
<body onload=loaded();>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a onclick = "checkPost()">Post</a></li>
              <li class="dropbtn"><div class="dropdown"><a>Polls</a>
         <div class="dropdown-content">
    <a id="poll1" onclick = "pollType(1)">Locally Created</a>
    <a id="poll2" onclick = "pollType(2)">Publicly Shared</a>
            </div></div></li> 
        <li><a href="/edit">Edit</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> 
            <a href="/signlog"><span class="glyphicon glyphicon-log-in"></span><%= logstatus %></a></li>
      </ul>
    </div>
  </div>
</nav> 
   
 <header>
    <% include partials/header %>
</header> 
    
<div style="margin:20px;">
  <ul id="myList">
</ul>
</div>

<footer class="container-fluid text-center"> 
    <% include partials/footer %>
</footer>

</body>
<script>     
    function loaded() {
       var loc = [];
       var loc2 =[];
       var qnlist = [];
       var ql =[];
       var voteBtn;
       var deleteBtn;
     var viewtype = <%- JSON.stringify(viewtype) %>;  
     if (viewtype == "public") {qnlist = <%- JSON.stringify(qnamelist) %>;
             var q;  
             var n;
             var nl = [];
             for (var i = 0; i<qnlist.length; i++)            
             {q = qnlist[i].question;
              console.log('question'+ q);
              ql.push(q);
              n = qnlist[i].username;
              nl.push(n);
              
             }}
     else ql = <%- JSON.stringify(questionlist) %>;
     console.log('ql'+ql);
     for (var q = 0; q < ql.length; q++)
     { if (viewtype == "public")
         loc.push(nl[q]  + "/" + (ql[q]));
        else
         loc.push(<%- JSON.stringify(username) %> + "/" + (ql[q]));
     }
    
     for (var r = 0; r < ql.length; r++)
     {   loc2=loc[r]; 
         voteBtn = document.createElement("a");
         voteBtn.setAttribute("href", loc2);
         voteBtn.setAttribute("class", 'button');
         voteBtn.innerHTML = "Vote";
        
         var node = document.createElement("li");
         textnode = document.createTextNode(ql[r]);
         node.appendChild(textnode);  
      
       if (viewtype == "local")
       {
         deleteBtn = document.createElement("a");
         deleteBtn.setAttribute("href","javascript:confirmIt("+r+");");
         deleteBtn.setAttribute("class", 'button');
         deleteBtn.innerHTML = "Delete";
         node.appendChild(deleteBtn);
       }
              
      node.appendChild(voteBtn);
      
     link = document.createElement("span");    
     link.innerHTML = " Link: ";
      node.appendChild(link);   
     link = document.createElement("a"); 
      loc2 = "https://postnpoll.herokuapp.com/" + loc2;
     link.setAttribute("href", loc2);
     link.innerHTML = loc2;
         node.appendChild(link);
             document.getElementById("myList").appendChild(node);     
         
        
      }
     
}
       
function confirmIt(r) {
    var ql = <%- JSON.stringify(questionlist) %>;
    var locQuestion = ql[r]; 
    var r = confirm("Are you sure you want to delete the poll, " + '"' + ql[r] + '"' + ", from the database?");
  if (r == true)  window.location = "/delete/" + <%- JSON.stringify(username) %> + "/" + locQuestion; else window.location = "/view";
}
  
function pollType(num){
     var status = <%- JSON.stringify(logstatus) %>; 
     //locally created
     if (num == 1) {
         checkPolls()   
     }
     //publicly shared
     //not logged in
     else if (status == " Login/Signup"){  
         window.location = "/view2";
     } 
     //logged in
     else {
         window.location = "/view?type=public";
     }  
 }
    
function checkPolls(){
           var totalPolls =  <%- JSON.stringify(totalPolls) %>; 
             if (totalPolls == 0) 
             {var status = <%- JSON.stringify(logstatus) %>; 
                 if (status == " Login/Signup")  
               alert("Please log in to create and view your polls");
                else alert("No local polls have been created.");
             }
              else  window.location = "/view?type=local";
         }
    
function checkPost(){
    if (status == " Login/Signup"){alert("You cannot post a poll without first logging in.");}
    else
     window.location = "/create"
}

</script>   
</html>